.pt-mark {
	position: absolute;
	z-index: 2147483647;
	background-color: red;
}
.pt-mark-show {
	visibility: visible;
}
.pt-mark-hide {
	visibility: hidden;
}
.pt-mark-top {
	height: 1px;
}
.pt-mark-left {
	width: 1px;
}
.pt-mark-right {
	width: 1px;
}
.pt-mark-bottom {
	height: 1px;
}